[View in Colaboratory](https://colab.research.google.com/github/Priyankk18k/Titanic-EDA-and-Survival-prediction/blob/master/Logistic%20Regression.ipynb)

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('https://gist.githubusercontent.com/avmain/284b549eabc13061ce2b0b58b163c7f9/raw/ff20885745fea9ab5be6e900aad4c2cb1d08f936/titanic_data_set.csv',error_bad_lines=False)

In [39]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

This method is used to resolve "Scikit-learn : error in fitting model - Input contains NaN, infinity or a value too large for float64
"this error

In [0]:
df= df.fillna(method='ffill')

In [41]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,C123,S

In [42]:

X = df.iloc[:, 1:].values
y = df.iloc[:, 0:1].values
print X.shape, y.shape

(891, 11) (891, 1)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print X_train.shape, y_train.shape

(623, 11) (623, 1)

# Classification and Accuracy

In [0]:
from sklearn.linear_model import LogisticRegression

In [45]:
df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [0]:
train=df[['Pclass','Fare','Age','Embarked']]

In [47]:
train.head()

   Pclass     Fare   Age Embarked
0       3   7.2500  22.0        S
1       1  71.2833  38.0        C
2       3   7.9250  26.0        S
3       1  53.1000  35.0        S
4       3   8.0500  35.0        S

In [0]:
train=pd.get_dummies(train,columns=['Embarked'])

In [49]:
train.head()

   Pclass     Fare   Age  Embarked_C  Embarked_Q  Embarked_S
0       3   7.2500  22.0           0           0           1
1       1  71.2833  38.0           1           0           0
2       3   7.9250  26.0           0           0           1
3       1  53.1000  35.0           0           0           1
4       3   8.0500  35.0           0           0           1

In [0]:
test=df['Survived']

In [0]:
from sklearn.cross_validation import train_test_split

In [0]:
x_train,y_train,x_test,y_test=train_test_split(train,test,test_size=0.15)

In [0]:
model=LogisticRegression()

In [54]:
model.fit(x_train,x_test)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [0]:
pred=model.predict(y_train)

In [68]:
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1])

In [69]:
y_test.values

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1])

In [0]:
from sklearn.metrics import accuracy_score,classification_report

In [71]:
accuracy_score(pred,y_test)

0.6865671641791045