[View in Colaboratory](https://colab.research.google.com/github/Priyankk18k/Titanic-EDA-and-Survival-prediction/blob/master/Model's%20classification%20.ipynb)

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('titanic_prepared_data.csv')

In [110]:
df.isnull().any()

Survived    False
Pclass      False
Sex         False
Age         False
Fare        False
Embarked    False
dtype: bool

In [0]:
df= df.fillna(method='ffill')

This method is used to resolve "Scikit-learn : error in fitting model - Input contains NaN, infinity or a value too large for float64
"this error

In [112]:
df.head()

   Survived  Pclass  Sex   Age     Fare Embarked
0         0       3    1  22.0   7.2500        S
1         1       1    0  38.0  71.2833        C
2         1       3    0  26.0   7.9250        S
3         1       1    0  35.0  53.1000        S
4         0       3    1  35.0   8.0500        S

In [113]:

#X = df.iloc[:, 1:].values
#y = df.iloc[:, 0:1].values
print X.shape, y.shape

(891, 5) (891, 1)

In [114]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print X_train.shape, y_train.shape

(623, 5) (623, 1)

# Classification and Accuracy

In [0]:
from sklearn.linear_model import LogisticRegression

In [116]:
df.columns

Index([u'Survived', u'Pclass', u'Sex', u'Age', u'Fare', u'Embarked'], dtype='object')

In [0]:
train=df[['Pclass','Fare','Age','Embarked']]

In [118]:
train.head()

   Pclass     Fare   Age Embarked
0       3   7.2500  22.0        S
1       1  71.2833  38.0        C
2       3   7.9250  26.0        S
3       1  53.1000  35.0        S
4       3   8.0500  35.0        S

In [0]:
train=pd.get_dummies(train,columns=['Embarked'])

In [120]:
train.head()

   Pclass     Fare   Age  Embarked_C  Embarked_Q  Embarked_S
0       3   7.2500  22.0           0           0           1
1       1  71.2833  38.0           1           0           0
2       3   7.9250  26.0           0           0           1
3       1  53.1000  35.0           0           0           1
4       3   8.0500  35.0           0           0           1

In [0]:
test=df['Survived']

In [0]:
from sklearn.cross_validation import train_test_split

In [0]:
x_train,y_train,x_test,y_test=train_test_split(train,test,test_size=0.15)

In [0]:
model=LogisticRegression()

In [125]:
model.fit(x_train,x_test)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [0]:
pred=model.predict(y_train)

In [127]:
pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0])

In [128]:
y_test.values

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0])

In [0]:
from sklearn.metrics import accuracy_score,classification_report

In [170]:
acc_LR=accuracy_score(pred,y_test)
print acc_LR

0.7686567164179104

# Regularisation constant

In [0]:
model2=LogisticRegression(C=0.01)
model2.fit(x_train,x_test)
Y=model2.predict(y_train)

In [135]:
y_test.values

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0])

In [136]:
accuracy_score(Y,y_test)

0.7313432835820896

## K-NearestNeighbors(KNN)

We can change the n_neighbours to get a good accuracy score.Here when i entered 60 neighbors then it shows the maximum accuracy of our model.
It all depends on the model and data set we are working.

In [166]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=60)
model.fit(x_train,x_test)
pred_knn=model.predict(y_train)
acc_KNN=accuracy_score(pred_knn,y_test)
print acc_KNN

0.7611940298507462

## Gaussian Naive Bayes

In [167]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,x_test)
GNB_pred=model.predict(y_train)
acc_GNB=accuracy_score(GNB_pred,y_test)
print acc_GNB

0.7014925373134329

## Decision Tree

In [168]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,x_test)
DT_pred=model.predict(y_train)
acc_DT=accuracy_score(DT_pred,y_test)
print acc_DT

0.7313432835820896

## Random Forest

In [169]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)
model.fit(x_train,x_test)
RF_pred=model.predict(y_train)
acc_RF=accuracy_score(RF_pred,y_test)
print acc_RF

0.7611940298507462

In [172]:
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'KNN', 'Decision Tree', 
              'Random Forest', 'Naive Bayes'],
    
    'Score': [acc_LR,acc_KNN,acc_DT, 
              acc_RF, acc_GNB]
    })

models.sort_values(by='Score', ascending=False)

                 Model     Score
0  Logistic Regression  0.768657
1                  KNN  0.761194
3        Random Forest  0.761194
2        Decision Tree  0.731343
4          Naive Bayes  0.701493